/* Mantine styles are imported in root.tsx */

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
